@import 'shared/shared';

.List {
  margin: 0 0 30px;
  font-size: rem-calc(16px);
  font-weight: 300;

  @include breakpoint(medium up) {
    margin: 0 0 40px;
    font-size: rem-calc(24px);
  }
}

  .List__item {
    margin: 0 0 0 26px;
    list-style-type: disc;

    @include breakpoint(medium up) {
      margin: 0 0 0 36px;
    }
  }

    .List__item__link {
      @include underline($c-alabastar, $c-black, true, 91%);
      text-decoration: none;
      color: $c-black;

      &:hover {
        @include underline-animate();
      }
    }
