@import 'shared/shared';

.List {
  margin: 0 0 20px;
  font-size: rem-calc(16px);

  @include breakpoint(medium up) {
    font-size: rem-calc(17px);
  }

  @include breakpoint(large up) {
    margin: 0 0 30px;
    font-size: rem-calc(18px);
  }
}

  .List__item {
    display: block;
  }

    .List__item__link {
      @include underline($c-alabastar, $c-black, true, 90%);
      text-decoration: none;
      color: $c-black;

      &:hover {
        @include underline-animate();
      }
    }
