@import 'shared/shared';

.DemographicInformationListItem {
  @include breakpoint(medium up) {
    display: flex;
    flex-wrap: nowrap;
  }
}

  .DemographicInformationListItem__label,
  .DemographicInformationListItem__value {
    font-size: rem-calc(16px);
    font-weight: 300;
    flex: 0 0 auto;

    @include breakpoint(medium up) {
      font-size: rem-calc(18px);
    }
  }

  .DemographicInformationListItem__label {
    font-weight: 400;

    @include breakpoint(medium up) {
      width: 30%;
      padding: 0 20px 0 0;
    }
  }

  .DemographicInformationListItem__value {
    margin: 0 0 10px;
    font-style: italic;

    @include breakpoint(medium up) {
      width: 70%;
      margin: 0;
    }
  }

    .DemographicInformationListItem__link {
      @include underline($c-alabastar, $c-black, true, 91%);
      text-decoration: none;
      color: $c-black;

      &:hover {
        @include underline-animate();
      }
    }
