@import 'shared/shared';

.Subtitle {
  margin: 0 0 5px;
  font-size: rem-calc(15px);
  font-style: italic;

  @include breakpoint(medium up) {
    font-size: rem-calc(16px);
  }
}

  .Subtitle__date {
    display: block;
    font-weight: bold;
    font-style: normal;
  }

