@import 'shared/shared';

.Title {
  @include underline($c-alabastar, $c-black, false, 95%);
  margin: 0 0 15px;
  padding: 40px 0 0;
  font-family: $ff-source-serif;
  font-size: rem-calc(24px);
  font-weight: bold;
  line-height: 1.2;

  @include breakpoint(medium up) {
    @include underline($c-alabastar, $c-black, false, 95%);
    margin: 0 0 20px;
    padding: 50px 0 0;
    font-size: rem-calc(32px);
  }
}
